# Procesamiento de Datos 
Laboratorio 8

In [1]:
import pandas as pd
import openpyxl
import numpy as np

In [9]:
dic_fallecidos = pd.read_excel('ine/Diccionario Fallecidos y Lesionados.xlsx', header=1)
dic_hechos = pd.read_excel('ine/Diccionario Hechos.xlsx', header=1)
dic_vehiculos = pd.read_excel('ine/Diccionario Vehículos.xlsx', header= 1)

## Fallecidos

In [25]:
fallecidos22 = pd.read_excel('ine/Fallecidos/fallecidos2022.xlsx')
fallecidos23 = pd.read_excel('ine/Fallecidos/fallecidos2023.xlsx')

In [23]:
dic_fallecidos.columns = dic_fallecidos.columns.str.strip()

diccionario_fallecidos = {}
variable_actual = None

for _, row in dic_fallecidos.iterrows():
    if pd.notna(row["Variable"]):  
        variable_actual = row["Variable"]
        diccionario_fallecidos[variable_actual] = {}
    
    # Intentar convertir a número
    codigo = pd.to_numeric(row["Código"], errors="coerce")
    valor = row["Valor"]

    if variable_actual and pd.notna(codigo) and pd.notna(valor):
        diccionario_fallecidos[variable_actual][int(codigo)] = str(valor)

In [ ]:
diccionario_fallecidos = {var: {v: k for k, v in mapa.items()} for var, mapa in diccionario_fallecidos.items()}
diccionario_fallecidos["tipo_eve"]

{'Colisión': 1,
 'Choque': 2,
 'Vuelco': 3,
 'Caída': 4,
 'Atropello': 5,
 'Derrape': 6,
 'Embarranco': 7,
 'Encuneto': 8,
 'Ignorado': 99}

In [27]:
for col in fallecidos22.columns:
    if col in diccionario_fallecidos:  # Solo las columnas que están en el diccionario
        fallecidos22[col] = fallecidos22[col].map(diccionario_fallecidos[col])

fallecidos22

,num_corre,año_ocu,día_ocu,hora_ocu,g_hora,g_hora_5,mes_ocu,día_sem_ocu,depto_ocu,mupio_ocu,...,edad_quinquenales,mayor_menor,tipo_veh,marca_veh,color_veh,modelo_veh,g_modelo_veh,tipo_eve,fall_les,int_o_noint
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10717,10718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10718,10719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10719,10720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10720,10721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10721,10722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
fallecidos22 = pd.read_excel('ine/Fallecidos/fallecidos2022.xlsx')
fallecidos23 = pd.read_excel('ine/Fallecidos/fallecidos2023.xlsx')

,Unnamed: 0,Etiquetas base de Fallecidos y Lesionados,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,Variable,Etiqueta,Código,Valor,Observaciones
1,NaN,núm_corre,Número de correlativo,-,-,NaN
2,NaN,año_ocu,Año de ocurrencia,2023,-,NaN
3,NaN,día_ocu,Día de ocurrencia,-,-,NaN
4,NaN,hora_ocu,Hora de ocurrencia,99,Ignorada,NaN
...,...,...,...,...,...,...
700,NaN,NaN,NaN,2,Lesionado,NaN
701,NaN,NaN,NaN,3,Ignorado,NaN
702,NaN,int_o_noint,Internado o no internado,1,Internado,NaN
703,NaN,NaN,NaN,2,No internado,NaN
704,NaN,NaN,NaN,9,Ignorado,NaN